@import "src/assets/styles/mixins";

.management {
  @include flex(column, center, center);

  &__nav-btn {
    @include flex(row, center, center);
    gap: 20px;
  }

  &__question-list {
    margin-top: 20px;
  }

  &__button-div {
    margin-left: 20px;
  }

  &__question {
    @include flex(row, space-between, center);
  }
}
